.nav-holder {
  padding: 13px 80px;
  background: #222627;
  color: #ffffff;
  border: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h3 {
    margin: 0;
  }

  .part {
    color: #e4e4e4;
  }
}

a {
  color: #e3f6f5;
  text-decoration: none;
}

a:hover {
  color: white;
}

.link {
  font-size: 20px;
  margin-left: 25px;
}
