<section class="header-holder">
    <div class="heading">
        <h3>NewVision</h3>
        <h3 style="color: #e4e4e4;">Soccer Coaching</h3>
    </div>

    <div class="quote" style="display: flex; justify-content: center;">
        <span>
            &ldquo;The only place where success comes before work is in the dictionary.&rdquo;
        </span>
    </div>

    <div class="tag">
        <h4>BE THE <span>BEST</span></h4>
        <h6 class="cta"><a href="#contact-section">JOIN US</a></h6>
    </div>
</section>