<section class="app-information" id="information-section">
    <div class="container">
        <h2>Information</h2>
        <div class="row">
            <div class="inform i-border">
                <h3>Pricing</h3>
                <div class="text">
                    <p><strong>R250 p/h sessions</strong></p>
                    <p>1 hour = R250 <br />2 hours = R500</p>
                    <p>(N/B): If you book 3 sessions for the week that will amount to R750, depending on how many
                        hours per training session.
                    </p>
                </div>
            </div>
            <div class="inform i-border covid-holder">
                <h3>Covid-19 Regulations</h3>
                <div class="text">
                    <p>All equipment will be sanitized after each training session</p>
                    <p>No Mask, No train</p>
                </div>
            </div>
            <div class="inform">
                <h3>Contact Info</h3>
                <div class="text">
                    <p>Email address:<br /><a class="link"
                            href="mailto:kylegrovers23@gmail.com">kylegrovers23@gmail.com</a>
                    </p>
                    <p>Phone Number:<br /><a class="link" href="tel:0849058907">0849058907</a></p>
                </div>
            </div>
        </div>
    </div>
</section>