<div class="contact-holder">
    <div class="container">
        <div class="grid-holder">
            <div class="contact-form">
                <form>
                    <h3>Contact</h3>

                    <div class="name-holder">
                        <label class="form-label" for="name">Full Name</label><br>
                        <input class="form-control form-control-sm" type="text" name="name" id="name"
                            placeholder="John Doe" required>
                    </div>

                    <div class="email-holder">
                        <label class="form-label" for="email">Email Address</label><br>
                        <input class="form-control form-control-sm" type="email" name="email" id="email"
                            placeholder="example@gmail.com" required>
                    </div>

                    <div class="message-holder">
                        <label class="form-label" for="message">Message</label><br>
                        <textarea class="form-control form-control-sm" name="message" id="message" required></textarea>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>

            <div class="picture">
                Picture
            </div>
        </div>

    </div>


</div>