<section class="contact-holder">
    <div class="container">
        <div class="grid-holder">
            <div class="contact-form">
                <form novalidate>
                    <h2>Send Us A Message</h2>
                    <h5>Interested in personal growth? Have a general question? We’re just an email away.</h5>
                    <div class="input-holder">
                        <div class="name-holder">
                            <label class="form-label" for="name">Full Name</label><br>
                            <input class="form-control form-control" [(ngModel)]="fullName" type="text" name="name"
                                id="name" placeholder="John Doe"
                                [ngClass]="{'error': errorFullName, 'none': errorFullName === ''}">
                        </div>

                        <div class="email-holder">
                            <label class="form-label" for="email">Email Address</label><br>
                            <input class="form-control form-control" [(ngModel)]="emailAddress" type="email"
                                name="email" id="email" placeholder="example@gmail.com"
                                [ngClass]="{'error': errorEmailAddress, 'none': errorEmailAddress === ''}">
                        </div>
                    </div>

                    <div class="message-holder">
                        <label class="form-label" for="message">Message</label><br>
                        <textarea class="form-control form-control" [(ngModel)]="message" name="message" id="message"
                            [ngClass]="{'error': errorMessage, 'none': errorMessage === ''}"></textarea>
                    </div>

                    <div class="alerts">
                        <ng-container *ngIf="errorFullName">
                            <ngb-alert class="alert" type="danger" [dismissible]="false">{{errorFullName}}</ngb-alert>
                        </ng-container>

                        <ng-container *ngIf="errorEmailAddress">
                            <ngb-alert class="alert" type="danger" [dismissible]="false">{{errorEmailAddress}}
                            </ngb-alert>
                        </ng-container>

                        <ng-container *ngIf="errorMessage">
                            <ngb-alert class="alert" type="danger" [dismissible]="false">{{errorMessage}}</ngb-alert>
                        </ng-container>
                    </div>

                    <div class="btn-holder">
                        <button class="btn btn-primary" type="submit" (click)="sendEmail()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>