<section class="contact-holder">
    <div class="container">
        <div class="grid-holder">
            <div class="contact-form">
                <form>
                    <h2>Send Us A Message</h2>
                    <h5>Interested in personal growth? Have a general question? We’re just an email away.</h5>
                    <div class="input-holder">
                        <div class="name-holder">
                            <label class="form-label" for="name">Full Name</label><br>
                            <input class="form-control form-control" type="text" name="name" id="name"
                                placeholder="John Doe" required>
                        </div>

                        <div class="email-holder">
                            <label class="form-label" for="email">Email Address</label><br>
                            <input class="form-control form-control" type="email" name="email" id="email"
                                placeholder="example@gmail.com" required>
                        </div>
                    </div>

                    <div class="message-holder">
                        <label class="form-label" for="message">Message</label><br>
                        <textarea class="form-control form-control" name="message" id="message" required></textarea>
                    </div>

                    <div class="btn-holder">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>