.contact-holder {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;

  .grid-holder {
    .contact-form {
      h2 {
        text-align: center;
        margin-bottom: 15px;
      }

      h5 {
        text-align: center;
        margin-bottom: 30px;
      }

      .hh {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        padding: 0 60px;
      }

      .name-holder {
        margin-bottom: 20px;

        .form-control {
          width: 100%;
        }
      }

      .email-holder {
        margin-bottom: 20px;

        .form-control {
          width: 100%;
        }
      }

      .message-holder {
        margin-bottom: 20px;
        padding: 0 60px;

        textarea {
          width: 100%;
          min-height: 200px;
          resize: none;
        }
      }
    }

    .picture {
      background: white;
    }
  }
}
