#nav-bar-lg {
  display: none;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #nav-bar-sm {
    display: none;
  }

  #nav-bar-lg {
    display: block;
  }
}

@media (min-width: 1200px) {
}
