<!-- <app-hero></app-hero> -->
<!-- <app-nav-bar (outputElementId)="scrollView($event)"></app-nav-bar> -->

<!-- <a pageScroll href="#awesomePart">Take me to the awesomeness</a> -->

<nav class="nav-holder">
    <div class="heading">
        <div>
            <h3>NewVision</h3>
            <h3 class="part">Soccer Coaching</h3>
        </div>

        <div>
            <i class="fas fa-bars" (click)="isMenuCollapsed = !isMenuCollapsed"></i>
        </div>
    </div>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <a class="link" (click)="scrollView('training')">Training</a>
        <a class="link" (click)="scrollView('information')">Information</a>
        <a class="link" (click)="scrollView('contact')">Contact</a>
    </div>
</nav>

<app-header></app-header>
<app-training id="training"></app-training>
<app-quote></app-quote>
<app-information id="information"></app-information>
<app-contact id="contact"></app-contact>
<app-footer></app-footer>