section#container {
  background: #efef;
}

.imgFeature {
  background-image: url(\src\assets\images\travel-nomades-JO19K0HDDXI-unsplash.jpg);
  height: 507px;
  opacity: 0.6;
}

.col-sm-6.feature {
  padding: 148px;
}

section#container .row {
  margin-right: 0px;
}

.con {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.img1 {
  // background-image: url(\src\assets\images\File_000.jpeg);
  // background-image: url("../../../../assets/images/File_121.jpg");
  // height: 507px;
  // opacity: 0.6;
}

img {
  width: 100%;
  height: auto;
  // opacity: 0.9;
}

.feature-holder {
  padding-top: 80px;
  padding-bottom: 60px;
}

.quote-holder {
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.quote {
  width: 800px;
  margin: 0 auto;

  margin-bottom: 20px;
}
