.feature-holder {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #e3f6f5;
}

.quote-holder {
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.quote {
  width: 100%;
  margin: 0 auto;

  margin-bottom: 20px;
}

@media only screen and (max-width: 750px){

  .quote{
    width: 100%;
  }
} 