<section id="container">
    <div class="row">
        <div class="col-sm-6 imgFeature">
            
        </div>
        <div class="col-sm-6 feature">
            <h2>Get your private Coach</h2>
            <ul>
                <li>Identity and enhance your best skills</li>
                <li>help you achieve realistic goals</li>
                <li>help you get your scholarships</li>
                <li>keep track of your progress</li>
                <li>and many more benefits</li>
            </ul>
        </div>
    </div>
</section>