<!-- <div class="feature-holder">
    <div class="container">
        <div class="feature">
            <h2>Get your private Coach</h2>
            <ul>
                <li>Identity and enhance your best skills</li>
                <li>help you achieve realistic goals</li>
                <li>help you get your scholarships</li>
                <li>keep track of your progress</li>
                <li>and many more benefits</li>
            </ul>
        </div>
    </div>
</div> -->

<section class="feature-holder">
    <div class="container">
        <div class="quote-holder">
            <h2>&ldquo; &rdquo;</h2>
            <div class="quote">
                <h5>
                    New Vision Soccer Coaching was always a dream of mine, but with the pandemic that the nation had
                    been
                    experiencing people losing jobs, I have decided to put my VISION into action.
                </h5>
            </div>

            <div class="quote">
                <h5>
                    This excites me so much not only, because it's my start up business but because I'll be helping
                    young
                    athletes who have a passion for Soccer become successful in what they love the same as what I am
                    continuing to do.
                </h5>
            </div>

            <div class="quote">
                <h5>
                    NewVision Soccer Coaching has alot to offer, we would be expanding our platform bit for bit, follow
                    our
                    page, spread the word to enjoy this exciting journey with us.
                </h5>
            </div>

            <div>
                <p>- Coach Kyle</p>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container"> -->
<!-- <div class="grid">
        <div>
            <img src="../assets/images/File_121.jpg">
        </div>
        <div>
            <div class="img1"></div>
        </div>
    </div> -->
<!-- <div class="row">
        <div class="col-sm-6 imgFeature">

        </div>
        <div class="col-sm-6 feature">
            <h2>Get your private Coach</h2>
            <ul>
                <li>Identity and enhance your best skills</li>
                <li>help you achieve realistic goals</li>
                <li>help you get your scholarships</li>
                <li>keep track of your progress</li>
                <li>and many more benefits</li>
            </ul>
        </div>
    </div> -->

<!-- </div> -->