section#container {
  background: #efef;
}

.imgFeature {
  background-image: url(\src\assets\images\travel-nomades-JO19K0HDDXI-unsplash.jpg);
  height: 507px;
  opacity: 0.6;
}

.col-sm-6.feature {
  padding: 148px;
}

section#container .row {
  margin-right: 0px;
}
