.nav-holder {
  padding: 13px 20px;
  background: #222627;
  color: #ffffff;
  border: none;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  h3 {
    margin: 0;
  }

  .part {
    color: #e4e4e4;
  }

  i {
    cursor: pointer;
    font-size: 30px;
    margin-top: 3px;
  }
}

a {
  color: #e3f6f5;
  border-bottom: 1px solid #e3f6f5;
  text-decoration: none;
}

.link {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
