<div class="app-footer">
    <div class="row">
        <div id="sp-footer1" class="col-sm-6">
            <div class="sp-column col-xs-12">
                <span class="sp-copyright">© 2021 SamSanTech. All  Rights Reserved.</span></div>
            </div><div id="sp-footer2" class="col-sm-6">
                <div class="sp-column col-xs-12">
                    <div class="sp-module ">
                        <div class="sp-module-content">
                            <div class="custom"> <i class="fab fa-twitter"></i> | <a >Logo</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>