<section class="app-footer">
    <div class="row">
        <div id="sp-footer1" class="col-sm-6">
            <div class="sp-column col-xs-12">
                <span class="sp-copyright">© 2021 SamSanTech. All Rights Reserved.</span>
            </div>
        </div>
        <div id="sp-footer2" class="col-sm-6">
            <div class="sp-column col-xs-12">
                <div class="sp-module ">
                    <div class="sp-module-content">
                        <div class="custom">
                            <a href="https://m.facebook.com/Visionarysoccercoaching/?ref=bookmarks" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <!-- | -->
                            <a href="https://instagram.com/newvision_soccer_coaching_?igshid=1lo29pbo37y6d"
                                target="_blank">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>