
.app-footer {
    background: #ffffff;
    height: 50px;
    padding: 13px 0px;
    
}
div#sp-footer1 {
    text-align: center;
    color: #b1a9a9;
}
div#sp-footer2 {
    text-align: center;
}

.app-footer .row{
    margin-right: 0px;
    
}