/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.backtotop {
  background-color: #000000;
  border-radius: 3px;
  bottom: 20px;
  display: block;
  min-height: 42px;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  right: 10px;
  text-align: center;
  transform: scale(1);
  transition: all 0.5s ease-in-out 0s;
  width: 45px;
  z-index: 40;
}

.backtotop i {
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  margin: 1px 0px 0px !important;
}

.backtotop .hidden-top {
  bottom: -100px;
  opacity: 0;
  transform: scale(0);
}
