<section class="training-holder" id="training-section">
    <div class="container header-container">
        <h2>Types Of Training We Offer</h2>
    </div>
    <div class="container type-container">
        <div class="type">
            <div>
                <i class="fas fa-running"></i>
                <h3>Flexibility</h3>
            </div>
        </div>
        <div class="type">
            <div>
                <i class="fas fa-dumbbell"></i>
                <h3>Fitness</h3>
            </div>
        </div>
        <div class="type">
            <div>
                <i class="fas fa-brain"></i>
                <h3>Mental Skills</h3>
            </div>
        </div>
        <div class="type">
            <div>
                <i class="fas fa-tachometer-alt"></i>
                <h3>Speed And Agility</h3>
            </div>
        </div>
        <div class="type">
            <div>
                <i class="fas fa-futbol"></i>
                <h3 style="width: 150px;">Beginner to Advanced</h3>
            </div>
        </div>
        <div class="type pt-70">
            <div>
                <i class="fas fa-cogs"></i>
                <h3>Developing Congnitave Skills</h3>
            </div>
        </div>
        <div class="type pt-70">
            <div>
                <i class="fas fa-diagnoses"></i>
                <h3>Hand-Eye And Foot-Eye Coordination</h3>
            </div>
        </div>
        <div class="type pt-70">
            <div>
                <i class="fas fa-clipboard"></i>
                <h3>Tactical And Technical</h3>
            </div>
        </div>
    </div>
</section>