.training-holder {
  background: #f1f1f1;
  padding-top: 80px;
  padding-bottom: 80px;
}

.header-container {
  margin-bottom: 60px;
  text-align: center;
}

.type-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #cfcfcf;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;

  i {
    font-size: 60px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 16px;
    line-height: 28px;
  }
}
