<div class="hero-holder">
    <img src="../assets/images/hero.jpg">
    <div class="nav-bar">
        <div>
            <h2 class="app-name">New<span>Vision</span> Soccer Coaching</h2>
        </div>
        <div>
            <a class="link">Training</a>
            <a class="link">Information</a>
            <a class="link">Contact</a>
        </div>
    </div>
    <div class="header">
        <h4 class="quote">
            "New Vision Soccer Coaching was always a dream of mine, but with the pandemic that the nation had been
            experiencing people losing jobs, I have decided to put my VISION into action."
        </h4>
    </div>
    <div class="sub-header">
        <h2 class="tag"><span>BE THE</span> BEST</h2>
        <h3 class="cta"><span>JOIN US</span></h3>
    </div>
</div>