<section class="hero-holder">
    <img src="../assets/images/hero.jpg">
    <div class="nav-bar">
        <div>
            <h2 class="app-name">New<span>Vision</span> Soccer Coaching</h2>
        </div>
        <div>
            <a class="link" href="#training-section">Training</a>
            <a class="link" href="#information-section">Information</a>
            <a class="link" href="#contact-section">Contact</a>
        </div>
    </div>
    <div class="header">
        <h4 class="quote">
            &ldquo;The only place where success comes before work is in the dictionary.&rdquo;
        </h4>
    </div>
    <div class="sub-header">
        <h2 class="tag"><span>BE THE</span> BEST</h2>
        <h3 class="cta"><a href="#contact-section">JOIN US</a></h3>
    </div>
</section>